@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  font-family: "Pilat Narrow";
}

/*
.awssld__content {
  background-color: var(--content-background-color);
  overflow: hidden;
  display: flex;
  align-items: start !important;
  justify-content: start !important;
} 
*/
