@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  font-family: "Pilat Narrow";
}

.awesome-slider {
  --organic-arrow-color: #fff !important;
}

.leading {
  line-height: 100px !important;
}

.home-bg {
  background-image: url("/hero-bg-right.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 280px 70px;
}

.socialize2earn-bg {
  background-image: url("/VISION.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right 70px;
}

.market-place-bg {
  background-image: url("/META.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 0px 70px;
}

.magic-nft-bg {
  background-image: url("/NFT c.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 70px;
}

.our-team-bg {
  background-image: url("/OUR TEAM.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 70px;
}

.eco-system-bg {
  background-image: url("/ECOSYSTEM.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 70px;
}

.road-map-bg {
  background-image: url("/ROADMAP.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 70px;
}

.bg-member-1 {
  background-image: url("/member-1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-member-2 {
  background-image: url("/member-2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-member-3 {
  background-image: url("/member-3.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-member-4 {
  background-image: url("/member-4.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-nft {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.53), rgba(245, 246, 252, 0.52)),
  url('/NFT.svg');

  /* background: url("/NFT.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light; */
}

.bg-frame{
  background-image: url("/image-frame.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-conference{
  background-image: url("/Rectangle 950.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 600px 300px; */
  background-position: center

}

.bg-tree{
  background-image: url("/tree.svg");
  background-repeat: no-repeat;
  background-position:top center

  /* background-size: 'full 600px'; */
  /* background-position: 0px -15px; */
  /* background-size: 50%; */
  
}

