@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  font-family: "Pilat Narrow";
}

.awesome-slider {
  --organic-arrow-color: #fff !important;
}

.leading {
  line-height: 100px !important;
}
